{% extends "base.html" %}

{% block title %}Resetowanie hasła{% endblock %}

{% block content %}
    <header>
        {% include "navbar.html" %}
    </header>

    <section class="login-page">
        <h2>Resetowanie hasła</h2>
        {% if validlink %}
            <div class="form-group" style="text-align:center; justify-content: center; display: flex;">
                    <p style="font-size: 20px;">Dwukrotnie podaj nowe hasło:</p>
                </div>
        <form action="#" method="post">
            {% csrf_token %}


            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="form-group" style="text-align:center; justify-content: center; display: flex;">
                    {{ field }}
                </div>
            {% endfor %}
            <div class="form-group form-group--buttons">
                <a href="{% url 'login' %}" class="btn btn--without-border">Anuluj</a>
                <button class="btn" type="submit">Zapisz hasło</button>
            </div>
        </form>
    {% else %}
        <p style="font-size: 20px;">Łączenie pozwalające na wyzerowanie hasła jest nieprawidłowe, ponieważ prawdopodobnie zostało już wcześniej użyte.
            Musisz ponownie rozpocząc procedurę zerowania hasła</p>
    {% endif %}
    </section>
{% endblock %}