{% extends "base.html" %}

{% block title %}Resetowanie hasła{% endblock %}

{% block content %}
    <header>
        {% include "navbar.html" %}
    </header>

    <section class="login-page">
        <h2>Resetowanie hasła</h2>
        <div class="form-group" style="text-align:center; justify-content: center; display: flex; flex-direction: column">
            <p style="font-size: 20px;"> <b>Zapomniałeś hasła?</b></p>
            <p style="font-size: 20px;">Podaj adres e-mail, aby zdefiniować nowe hasło.</p>
        </div>


        <form action="#" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="form-group" style="text-align:center; justify-content: center; display: flex;">
                    {{ field }}
                </div>
            {% endfor %}
            <div class="form-group form-group--buttons">
                <a href="#" class="btn btn--without-border">Cofnij</a>
                <button class="btn" type="submit">Zresetuj hasło</button>
            </div>
        </form>
    </section>
{% endblock %}