{% extends "base.html" %}

{% block title %}Resetowanie hasła{% endblock %}

{% block content %}
    <header>
        {% include "navbar.html" %}
    </header>

    <section class="login-page">
        <h2>Resetowanie hasła</h2>
        <div class="form-group" style="text-align:center; justify-content: center; display: flex; flex-direction: column">
            <p style="font-size: 20px;">Hasło zostało zdefiniowane. Możesz się już <a href="{% url "login" %}"><b>zalogować</b></a>.</p>
        </div>
    </section>
{% endblock %}